@charset "utf-8";
@import url('reset.css');
@import url('font.css');

body {
    margin: 0;
    background-color: #000000;
    color: white;
    overscroll-behavior: none;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.graphic .inner {
    padding: 100px 0;
}

.graphic #wrapper {
    overflow: hidden;
    /* position: fixed; */
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.graphic #content {
    overflow: visible;
    width: 100%;
}

.graphic .title {
    position: fixed;
    top: 50vh;
    font-family: 'Archivo';
    font-weight: 900;
    font-style: italic;
    font-size: 250px;
    text-align: center;
    width: 100%;
    transform: translateY(-50%);
    z-index: 0;
    color: white;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: white;
    pointer-events: none;
}

.graphic .outline-text {
    color: transparent;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: white;
    z-index: 2;
}

.graphic .filter-text {
    mix-blend-mode: screen;
    color: #804691;
    z-index: 2;
}

.graphic .images {
    padding-top: 60vh;
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    min-height: 150vh;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(20, 2%);
    grid-template-rows: repeat(30, 3%);
    justify-content: center;
    justify-items: center;
    align-items: center;
    z-index: 1;
    object-fit: cover;
    cursor: pointer;
}

.graphic .images .image_wrap {
    position: relative;
    /* overflow: hidden; */
    width: 100%;
    height: 100%;
    cursor: pointer;
    pointer-events: auto;
}

.graphic .images .image_wrap img {
    width: 100%;
    height: auto;
    object-fit: cover;

    aspect-ratio: 4 / 5;
}

.graphic .images .image_wrap:hover img {
    transform: scale(1.05);
}

.graphic .images .image_wrap .hover {
    position: absolute;
    inset: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transform: scale(1.05);
    transition: all 0.5s ease;
}

.graphic .images .image_wrap:hover .hover {
    opacity: 1;
    background: rgba(0, 0, 0, 0.6);
}

.graphic .images .image_wrap .hover_text {
    color: #fff;
    font-family: 'pretendard';
    text-align: center;
    margin-bottom: 8px;
}

.graphic .images .image_wrap .hover_text strong {
    font-size: 15px;
    display: block;
    margin-bottom: 10px;
}

.graphic .images .image_wrap .hover_text p {
    font-size: 12px;
    color: #ffffff;
    letter-spacing: 0.5px;
}

.graphic .images .image_wrap .hover_image {
    display: flex;
    align-items: center;
    gap: 5px;
}

.graphic .images .image_wrap .hover_image img {
    width: 20px;
    height: 20px;
    object-fit: cover;
    transition: transform 0.3s ease;
}


.graphic .content__slide-item {
    width: 100%;
    height: 100%;
    position: relative;
}

.graphic .images .image_wrap img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease;
}

.graphic .images .image_wrap:nth-child(1) {
    grid-area: 1/1/6/8;
}

.graphic .images .image_wrap:nth-child(2) {
    grid-area: 3/12/8/20;
}

.graphic .images .image_wrap:nth-child(3) {
    grid-area: 9/5/13/15;
}

.graphic .images .image_wrap:nth-child(4) {
    grid-area: 14/1/18/8;
}

.graphic .images .image_wrap:nth-child(5) {
    grid-area: 16/12/20/19;
}

.graphic .images .image_wrap:nth-child(6) {
    grid-area: 20/2/25/9;
}

.graphic .images .image_wrap:nth-child(7) {
    grid-area: 22/11/24/20;
}

.graphic .images .image_wrap:nth-child(8) {
    grid-area: 26/5/30/15;
}

/* img move end */
.image_popup {
    position: fixed;
    inset: 0;
    /* background: rgba(0, 0, 0, 0.85); */
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.4s ease;
    z-index: 9999;
    backdrop-filter: blur(10px);
    
}

.image_popup.active {
    opacity: 1;
    pointer-events: all;
}


.image_popup .inner {
    position: relative;
    max-width: 600px;
    background: rgba(20, 20, 20, 0.9);
    border-radius: 15px;
    overflow: hidden;
    padding: 30px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.6);
    text-align: center;
}

.image_popup .inner .bigImg {
    width: 100%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
    margin-bottom: 25px;
}

.image_popup .inner button {
    position: absolute;
    top: 15px;
    right: 15px;
    background: none;
    border: none;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.image_popup button:hover {
    transform: scale(1.2);
}


.image_popup .inner button img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.image_popup .inner .popup_text {
    color: #ffffff;
    font-family: 'pretendard';
    font-size: 50px;
    line-height: 1.8;
    text-align: center;
    white-space: pre-line;
}

body.popup-open {
    overflow: hidden;
}

.image_popup .inner .popup_text .popup_desc {}

/* img popup end */

.footer {
    width: 100%;
    background-color: #d5ff00;
    font-family: 'pretendard';
    color: #000000;
    position: relative;
    z-index: 1000000;
}

.footer .inner {
    height: 600px;
    padding: 80px 440px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}

.footer .inner .contact_title {
    position: relative;
}

.footer .inner .contact_title img {
    width: 40px;
    height: 30px;
    object-fit: cover;
    position: absolute;
    top: -50%;
    left: -10%;
}

.footer .inner h3 {
    font-size: 50px;
    font-family: 'Archivo';
    font-weight: 900;
}


.footer .inner .contact {
    width: 1040px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer .inner .contact .icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.footer .inner .contact .icon:hover::after {
    content: '';

}

.footer .inner .contact img {
    width: 60px;
    height: 60px;
    object-fit: cover;
}

.footer .inner .contact p {
    font-size: 20px;
    font-weight: 500;
}

.footer .inner .update {
    font-size: 30px;
    font-weight: 600;
}