@charset "utf-8";
@import url('reset.css');
@import url('font.css');

:root {
    --neon: #D5FF00;
    --violet: #5B00FF;
    --ink: #000;
    --paper: #fff;
}

html,
body {
    margin: 0;
    padding: 0;
    background: #000;
    color: #fff;
    font-family: 'Archivo';
}

body {
    overflow-x: hidden;
}

/* 기본세팅 end */


#wrap {
    max-width: 1920px;
    /* width: calc(100% - 140px); */
    margin: 0 auto;
    background-color: black;
    font-family: 'Archivo';


}

#wrap .header {
    width: 100%;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.788);
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100000000;
    /* position: relative; */
    transition: transform 0.6s ease, opacity 0.6s ease;
}

.header.hide {
    transform: translateY(-100%);
    opacity: 0;
}

#wrap .header .inner {
    height: 100%;
    margin: 0 auto;
    padding: 0 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#wrap .header .inner .logo {
    width: 60px;
}

#wrap .header .inner .logo a {
    display: block;
}

#wrap .header .inner .logo a img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

#wrap .header .inner .nav {}

#wrap .header .inner .nav .gnb {
    display: flex;
    gap: 95px;

}

#wrap .header .inner .nav .gnb li {}

#wrap .header .inner .nav .gnb li .depth {
    font-size: 16px;
    font-weight: 700;
}

#wrap .header .inner .nav .gnb li:hover {
    color: #D5FF00;
    transition: 0.5s;
}

/* .header end */

.hero {
    height: 100vh;
    position: relative;
    margin: 0 auto;
    background: #000;
}

#frame.frame.frame--center {
    top: 17%;
}

.hero__pin {
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow: visible;
    margin: 0 auto;
}

.top-gap {
    height: 150px;
}

.title {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-weight: 900;
    font-style: italic;
    white-space: nowrap;
    line-height: 1.05;
    font-size: 150px;
    letter-spacing: 0.02em;
    color: var(--neon);
    opacity: 0;
    z-index: 1;
    pointer-events: none;
}

.frame {
    position: relative;
    width: 500px;
    height: 500px;
    margin: 0 auto;
    overflow: visible;
    will-change: width, height;
    z-index: 2;
    opacity: 0;
    overflow: visible;
}

.photo {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    opacity: 0;
    transition: opacity .8s ease;
}

.photo.is-active {
    opacity: 1;
}

.context {
    position: relative;
    width: min(1486px, 92vw);
    margin: 12px auto 16px;
    text-align: center;
    font-weight: 900;
    color: #5B00FF;
    letter-spacing: 0.02em;
    will-change: opacity, transform;
}

.context--top {
    font-size: 80px;
    font-weight: 900;
    font-style: italic;
    opacity: 0;
    transform: translateY(80px);
    padding: 30PX 0;
}

.context--bottom {
    font-size: 80px;
    font-weight: 900;
    font-style: italic;
    opacity: 0;
    transform: translateY(-80px);
}

.overlay {
    position: absolute;
    inset: 0;
    background: #5900ffc9;
    opacity: 0;
    pointer-events: none;
    mix-blend-mode: normal;
    z-index: 5;
    transition: opacity 0.5s ease;
}

.hashtags-wrap {
    width: 200vh;
    overflow: hidden;
    height: auto;
    margin-top: 24px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    z-index: 100;
    pointer-events: none;
    text-align: center;
    z-index: 10;
}

.hashtags {
    white-space: nowrap;
    display: inline-flex;
    gap: 64px;
    align-items: center;
    height: 110px;
    font-size: 200px;
    font-weight: 900;
    font-style: italic;
    color: var(--neon);
    mix-blend-mode: difference;
    will-change: transform;
    padding-inline: 6vw;
}

.hashtags span {
    display: inline-block;
}

/* .hero end */


/* #about .inner .title,
#about .contents .profile,
#about .contents .right .value,
#about .contents .right .career {
    opacity: 0;
    transform: translateY(30px);
} */


#about {
    position: absolute;
    inset: 0;
    z-index: 10;
    top: 0;
    left: 0;
    pointer-events: none;
    opacity: 0;
}

#about .about.bg {}

#about .inner {
    padding: 70px;
}

#about .inner .title {
    font-size: 50px;
    display: flex;
    align-items: center;

}

#about .inner .title img {}

#about .inner .title h2 {}

#about .inner .contents {
    font-family: 'pretendard';
    display: flex;
    gap: 150px;
}

#about .inner .contents .profile {
    display: flex;
    flex-direction: column;
    gap: 115px;
}

#about .inner .contents .profile .profile_image {
    width: 250px;
}

#about .inner .contents .profile .profile_image img {
    width: 100%;
    height: 375px;
    object-fit: cover;
}

#about .inner .contents .profile .profile_info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    padding: 20px 0;
}

#about .inner .contents .profile .profile_info .name {
    display: flex;
    align-items: center;
    gap: 10px;
}

#about .inner .contents .profile .profile_info .name h3 {
    font-size: 30px;
    font-weight: 700;

}

#about .inner .contents .profile .profile_info .name p {
    font-size: 18px;
    font-weight: 500;
    color: #DBDBDB;
}

#about .inner .contents .profile .profile_info .birth {
    padding-bottom: 15px;
}

#about .inner .contents .profile .profile_info .birth p {
    font-size: 20px;
    font-weight: 600;
}

#about .inner .contents .profile .profile_info .contact {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

#about .inner .contents .profile .profile_info .contact .call {
    display: flex;
    align-items: center;
    gap: 10px;
}

#about .inner .contents .profile .profile_info .contact .call h3 {
    font-size: 18px;
    font-weight: 700;
}

#about .inner .contents .profile .profile_info .contact .call p {
    font-size: 15px;
    font-weight: 600;
}

#about .inner .contents .profile .profile_info .contact .email {
    display: flex;
    align-items: center;
    gap: 10px;
}

#about .inner .contents .profile .profile_info .contact .email h3 {
    font-size: 18px;
    font-weight: 700;
}

#about .inner .contents .profile .profile_info .contact .email p {
    font-size: 15px;
    font-weight: 600;
}

#about .inner .contents .right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#about .inner .contents .right .value {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#about .inner .contents .right .value p {
    font-size: 21px;
    font-weight: 500;

}

#about .inner .contents .right .career {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#about .inner .contents .right .career .min_title {
    font-size: 30px;
    font-weight: 800;
    font-family: 'Archivo';
    color: #D5FF00;
}

#about .inner .contents .right .career .min_title .min_info {}

#about .inner .contents .right .career .min_title .min_info li {}

#about .inner .contents .right .career .min_title .min_info li strong {
    font-size: 20px;
    font-weight: 700;
}

#about .inner .contents .right .career .min_title .min_info li span {
    font-size: 15px;
    font-weight: 600;
}


#about .inner .contents .right .career .top {
    display: flex;
    flex-direction: column;
    gap: 100px;
}

#about .inner .contents .right .career .top .edu {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

#about .inner .contents .right .career .top .exp {
    display: flex;
    flex-direction: column;
    gap: 25px;
}


#about .inner .contents .right .career .bottom {
    display: flex;
    flex-direction: column;
    gap: 100px;
}

#about .inner .contents .right .career .bottom .cer {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

#about .inner .contents .right .career .bottom .skills {
    display: flex;
    flex-direction: column;
    gap: 25px;

}

#about .inner .contents .right .career .bottom .skills .icon {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

#about .inner .contents .right .career .bottom .skills .icon img {
    width: 40px;
    height: 100%;
    object-fit: cover;
}