@charset "utf-8";
@import url('reset.css');
@import url('font.css');

#wrap {
    max-width: 1920px;
    /* width: calc(100% - 140px); */
    margin: 0 auto;
    background-color: black;
    font-family: 'pretendard';

    .header {
        width: 100%;
        height: 150px;
        background-color: black;
        opacity: 0.8;
        color: white;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 100000000;
        position: relative;

        .inner {
            max-width: 1440px;
            height: 100%;
            margin: 0 auto;
            padding: 0 70px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .logo {
                width: 78px;

                a {
                    display: block;

                    img {
                        width: 100%;
                        height: auto;
                        object-fit: cover;
                    }

                    //.logo a img



                }

                //.logo a


            }

            //logo 



            .nav {
                .gnb {
                    li {
                        .depth {}
                    }
                }
            }
        }

        /* //.inner  */


    }

    //.header


}

//#wrap