@charset "utf-8";
@import url('reset.css');
@import url('font.css');

body {
  margin: 0;
  background-color: #000000;
  color: white;
  overscroll-behavior: none;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
.graphic .inner {
    padding: 100px 0;
}
.graphic #wrapper {
  overflow: hidden;
  /* position: fixed; */
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.graphic #content {
  overflow: visible;
  width: 100%;
}

.graphic .title {
  position: fixed;
  top: 50vh;
  font-family: 'Archivo';
  font-weight: 900;
  font-style: italic;
  font-size: 250px;
  text-align: center;
  width: 100%;
  transform: translateY(-50%);
  z-index: 2;
  color: white;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: white;
  z-index: -2;
}

.graphic .outline-text {
  color: transparent;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: white;
  z-index: 2;
}

.graphic .filter-text {
  mix-blend-mode: screen;
  color: #804691;
  z-index: 2;
}

.graphic .images {
  padding-top: 60vh;
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  min-height: 150vh;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(20, 2%);
  grid-template-rows: repeat(30, 3%);
  justify-content: center;
  justify-items: center;
  align-items: center;
  z-index: 1;
  object-fit: cover;
}

.graphic .content__slide-item {
  width: 100%;
  height: 100%;
  position: relative;
}

.graphic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.graphic img:nth-child(1) {
  grid-area: 1/1/6/8;
}

.graphic img:nth-child(2) {
  grid-area: 3/12/8/20;
}

.graphic img:nth-child(3) {
  grid-area: 9/5/13/15;
}

.graphic img:nth-child(4) {
  grid-area: 14/1/18/8;
}

.graphic img:nth-child(5) {
  grid-area: 16/12/20/19;
}

.graphic img:nth-child(6) {
  grid-area: 20/2/25/9;
}

.graphic img:nth-child(7) {
  grid-area: 22/11/24/20;
}

.graphic img:nth-child(8) {
  grid-area: 26/5/30/15;
}

/* img move end */

.footer {
    width: 100%;
    background-color: #d5ff00;
    font-family: 'pretendard';
    color: #000000;
    position: relative;
    z-index: 1000000;
}
.footer .inner {
    height: 600px;
    padding: 80px 440px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
}

.footer .inner .contact_title {
    position: relative;
}
.footer .inner .contact_title img{
    width: 40px;
    height: 30px;
    object-fit: cover;
    position: absolute;
    top: -50%;
    left:-10%;
}

.footer .inner h3 {
    font-size: 50px;
    font-family: 'Archivo';
    font-weight: 900;
}


.footer .inner .contact {
    width: 1040px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer .inner .contact .icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.footer .inner .contact .icon:hover::after {
    content: '';
    
}

.footer .inner .contact img {
    width: 60px;
    height: 60px;
    object-fit: cover;
}
.footer .inner .contact p {
    font-size: 20px;
    font-weight: 500;
}
.footer .inner .update {
    font-size: 30px;
    font-weight: 600;
}