@font-face {
    font-family: '';
    src: url('ClimateCrisisKR-2030.eot');
    src: url('ClimateCrisisKR-2030.eot?#iefix') format('embedded-opentype'),
        url('ClimateCrisisKR-2030.woff2') format('woff2'),
        url('ClimateCrisisKR-2030.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: '';
    src: url('ClimateCrisisKR-2010.eot');
    src: url('ClimateCrisisKR-2010.eot?#iefix') format('embedded-opentype'),
        url('ClimateCrisisKR-2010.woff2') format('woff2'),
        url('ClimateCrisisKR-2010.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: '';
    src: url('ClimateCrisisKR-2019.eot');
    src: url('ClimateCrisisKR-2019.eot?#iefix') format('embedded-opentype'),
        url('ClimateCrisisKR-2019.woff2') format('woff2'),
        url('ClimateCrisisKR-2019.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: '';
    src: url('ClimateCrisisKR-1979.eot');
    src: url('ClimateCrisisKR-1979.eot?#iefix') format('embedded-opentype'),
        url('ClimateCrisisKR-1979.woff2') format('woff2'),
        url('ClimateCrisisKR-1979.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: '';
    src: url('ClimateCrisisKR-2050.eot');
    src: url('ClimateCrisisKR-2050.eot?#iefix') format('embedded-opentype'),
        url('ClimateCrisisKR-2050.woff2') format('woff2'),
        url('ClimateCrisisKR-2050.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: '';
    src: url('ClimateCrisisKR-1990.eot');
    src: url('ClimateCrisisKR-1990.eot?#iefix') format('embedded-opentype'),
        url('ClimateCrisisKR-1990.woff2') format('woff2'),
        url('ClimateCrisisKR-1990.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: '';
    src: url('ClimateCrisisKR-2000.eot');
    src: url('ClimateCrisisKR-2000.eot?#iefix') format('embedded-opentype'),
        url('ClimateCrisisKR-2000.woff2') format('woff2'),
        url('ClimateCrisisKR-2000.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: '';
    src: url('ClimateCrisisKR-2040.eot');
    src: url('ClimateCrisisKR-2040.eot?#iefix') format('embedded-opentype'),
        url('ClimateCrisisKR-2040.woff2') format('woff2'),
        url('ClimateCrisisKR-2040.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

