@font-face {
    font-family: 'Archivo';
    src: url('Archivo-BlackItalic.eot');
    src: url('Archivo-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('Archivo-BlackItalic.woff2') format('woff2'),
        url('Archivo-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Archivo';
    src: url('Archivo-Black.eot');
    src: url('Archivo-Black.eot?#iefix') format('embedded-opentype'),
        url('Archivo-Black.woff2') format('woff2'),
        url('Archivo-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

